@(tripplan: List[Itinerary])
@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.index.title")) {
    <div id="map_canvas"></div>
} {
    <div class="menu" id="menu">    
        <div class="wrapper">
            <div class="logo">
                <a href="./">
                    <img src="http://mappedinisrael.com/images/logo.png" alt="Israeli Startup Map" title="Israeli Startup Map">
                </a>
            </div>
            <div class="blurb">
                <div style="margin-top:-11px"><b>The Travelier Trip Planner</b><!--<b>One map.<br> Smaller than New Jersey.<br> Thousands of startups</b>. --></div>
            </div>
            <div class="buttons">
                <a href="#" class="btn btn-large btn-info" onClick="AddItinerary()" alt="Adding a Itinerary">Add a Itinerary</a>
                <a href="#" class="btn btn-large btn-inverse" alt="Add a Place">Add a Place</a>
            </div>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Type a company name..." data-provide="typeahead" autocomplete="on">
            </div>


            <ul class="list" id="list">
                @for( itin <- tripplan ) {
                    <li class='category'>
                        <div class='category_item'>
                            <a href='#' onClick="toggleList('@itin.id');" class='category_info'><img src='http://mappedinisrael.com/images/icons/startup.png' alt='' />@itin.name</a>
                        </div>
                        <ul class='list-items list-@itin.id'>
                            @for( place <- itin.places ) {
                                <li class='advertising'>
                                    <a href='#' onMouseOver="markerListMouseOver('0')" onMouseOut="markerListMouseOut('0')" onClick="goToMarker('0');">@place.name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>

        </div>
    </div>
}