@(places: List[Place])
@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.index.title")) {
    <div id="map_canvas"></div>
} {
<div class="menu" id="menu">
    <div class="wrapper">
        <div class="logo">
            <a href="./">
                <img src="http://mappedinisrael.com/images/logo.png" alt="Israeli Startup Map" title="Israeli Startup Map">
            </a>
        </div>
        <div class="blurb">
            <div style="margin-top:-11px"><b>The Israeli startup map</b><!--<b>One map.<br> Smaller than New Jersey.<br> Thousands of startups</b>. --></div>
        </div>
        <div class="buttons">
            <a href="about.php" class="btn btn-large btn-info" alt="About the Israeli Startup Map">More Info</a>
            <a href="addcompany.php" class="btn btn-large btn-inverse" alt="Add a company">Add a Company</a>
        </div>
        <div style="margin-top:0px; margin-left:16px;font-size:12px;font-weight:normal"> <a href="/update-request.php">Update your company</a> | <a href="sss.com">Support</a>
        </div>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Type a company name..." data-provide="typeahead" autocomplete="on">
        </div>


        <ul class="list" id="list">

            <li class='category'>
                <div class='category_item'>
                    <a href='#' onClick="toggleList('startup');" class='category_info'><img src='http://mappedinisrael.com/images/icons/startup.png' alt='' />Startups<span class='total'> (960)</span></a>
                </div>
                <ul class='list-items list-startup'>
                    <li class='advertising'>
                        <a href='#' onMouseOver="markerListMouseOver('0')" onMouseOut="markerListMouseOut('0')" onClick="goToMarker('0');">3dInteractive</a>
                    </li>
                    <li class='advertising'>
                        <a href='#' onMouseOver="markerListMouseOver('1')" onMouseOut="markerListMouseOut('1')" onClick="goToMarker('1');">Adotomi <span class="badge badge-important" style="margin-left:5px;">Hiring!</span></a>
                    </li>
                 </ul>
            </li>
        </ul>

    </div>
</div>
}